<template>
  <div>
  <component v-if="layout" v-bind:vars="vars" v-bind:localData="localData" v-bind:layout="layout"
             v-bind:is="layout.template"></component>
  <q-dialog v-model="daptinUserLoginDialog" persistent>
    <q-card style="min-width: 400px">
      <q-card-section>
        <div class="text-h6">Login</div>
      </q-card-section>

      <q-card-section>
        <q-input hint="Email" v-model="daptinUsername"/>
        <q-input hint="Password" v-model="daptinPassword" type="password"/>
      </q-card-section>

      <q-card-actions align="right" class="text-primary">
        <q-btn flat label="Login" @click="loginDaptin()"/>
      </q-card-actions>
    </q-card>
  </q-dialog>
  </div>
</template>

<style></style>

<script>
  import {mapGetters, mapActions} from 'vuex'
  import Mustache from 'mustache';


  export default {
    data() {
      return {
        daptinUserLoginDialog: false,
        daptinUsername: '',
        daptinPassword: ''
      }
    },
    computed: {
      // mix the getters into computed with object spread operator
      ...mapGetters([
        'user',
        'currentTab',
        'data',
        'localData',
        'path',
        'layout',
        'pagination',
        'vars'
      ]),
    },
    name: "TemplateView",
    methods: {
      loginDaptin() {
        const that = this;
        this.loginUser({
          'email': this.daptinUsername,
          'password': this.daptinPassword,
        }).then(function (response) {
          that.daptinUserLoginDialog = false;
          that.loadData();
        }).catch(function (e) {
          that.$q.notify("Failed to login");
        })

      },
      loadData() {
        console.log("loading data")
        this.refreshData(this.$route.params.referenceId);
        if (!this.user && this.layout.authRequired) {
          console.log("Prompt login");
          this.daptinUserLoginDialog = true;
        } else {
          this.refreshData(this.$route.params.referenceId);
        }

      },
      ...mapActions(['refreshData', 'setLayout', 'loginUser'])
    },
    mounted() {
      console.log("loaded template view", this.$route);
      // if (!this.user) {
      //   this.$router.push("/login");
      //   return
      // }

      this.setLayout(this.$route.params.layout);
      this.loadData();
    },
    watch: {
      currentTab: function (va) {
        console.log("Current tab changed", va);
        this.setLayout(this.$route.params.layout);
        this.loadData();
      },
      '$route': function (a) {
        console.log('route changed template view', arguments);
        this.setLayout(this.$route.params.layout);
        this.loadData();
      },
      'path': function (newPath) {
        console.log("path updated for template view", newPath, this.$route.params.layout)
        this.setLayout(this.$route.params.layout);
        this.loadData();
      },
    },
  };
</script>
