<template>
  <div style="width: 100vw; height: 100vh" id="q-app">
    <router-view/>
  </div>
</template>

<script>
  import {mapGetters, mapActions, mapState} from 'vuex';
  import {colors} from 'quasar';
  import Vue from 'vue';

  export default {
    computed: {
      ...mapGetters([
        'appLayout',
      ]),
      ...mapState(['path', 'models'])

    },
    name: "App",
    data: function () {
      return {
        newEndpointDialog: false,
      }
    },
    mounted: function () {
      // this.refreshModels();
      const that = this;
      console.log("App layout stringified", JSON.stringify(that.appLayout))
      colors.setBrand('primary', that.appLayout.style.primary);
      colors.setBrand('secondary', that.appLayout.style.secondary);

      const templateNames = Object.keys(that.appLayout.templates);
      for (var i = 0; i < templateNames.length; i++) {
        let templateName = templateNames[i];
        let template = that.appLayout.templates[templateName];
        if (!template.style) {
          template.style = "";
        }
        console.log("register template", template);

        (function (t) {
          Vue.component(t.name, function (resolve, reject) {
            resolve({
              template: t.template,
              props: ['localData', 'layout'],
              data: function () {
                return {
                  styleTag: null,
                }
              },
              computed: {
                ...mapGetters(["vars", "appLayout"])
              },
              methods: {
                ...mapActions(['fireEvent', 'setVar', 'setTab'])
              },
              beforeDestroy: function () {
                console.log("destroying template", t);
                if (this.styleTag) {
                  this.styleTag.remove()
                }
              },
              mounted: function () {
                // console.log("mounted view: ", t, that.appLayout);

                if (!this.vars) {
                  this.vars = {}
                }
                if (t.css) {
                  const css = t.css,
                    head = document.head || document.getElementsByTagName('head')[0],
                    style = document.createElement('style');

                  head.appendChild(style);

                  style.type = 'text/css';
                  style.appendChild(document.createTextNode(css));
                  this.styleTag = style;
                }
              }
            })
          })
        })(template)


      }
    },
    methods: {
      ...mapActions(['saveConfig', 'setPath']),
    },
    watch: {
      'path': function (val) {
        if (val == null) {
          return
        }
        console.log("set path", val)
        this.setPath(null);
        this.$router.push(val);
      }
    }
  };
</script>

<style></style>
